.THIS .main-div{
    width:100%;
    display:inline-block;
}
.THIS .myCheckbox{
  display: inline-block;
  float: left;
}
.THIS .display{
     width: 31%;
    float: left;
    text-align: right;
    padding-right: 15px;
}
.THIS .selet-option{
    width: 15%;
    float: left;
}
.THIS .button-section{
        width: 44%;
    float: right; 
}
.THIS .selected{
    color:orange;
}
.THIS .slds-cell-edit {
    padding: 2px 6px !important;

}
.THIS .slds-p-top--large {
    padding-top: 0.5rem !important;
}
.THIS .slds-icon-text-default {
    fill: rgb(107, 109, 112);
    font-size: 12px !important;
    width: 12px;
}
.THIS .slds-button_brand{
    float: left!important;margin: 12px 7px 5px!important;
}
.THIS .slds-form-element__label{
    display : none
}
.THIS .test select {
    height: 36px !important;
}
.THIS .ButtonHide {
    border: 0px solid rgb(221, 219, 218)!important;
}
.THIS .slds-button__icon {
    width: 1.5rem!important;
    height: 1.875rem!important;
    fill: currentColor;
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 80%!important;
    max-width: 68%;
    /* min-width: 34rem; */
}
.THIS .slds-table--bordered tbody th {
    border-top: 1px solid #d0cdcd !important;
}
.THIS .BoxBorder{
    border:1px solid #d0cdcd !important;
}
.THIS .cAssociation_Member_Directory a {padding:10px;}
.THIS .slds-text-title--caps {padding: 8px 6px; background-color: lightgray;cursor:pointer;}
.THIS .slds-text-title--capsPoint {padding: 8px 6px; background-color: lightgray;}
.THIS .slds-text-title--capsPoint:hover {background-color: white;}
.THIS .slds-text-title--caps:hover {background-color: white;}
.THIS .slds-p-around_small.slds-col {text-align:center}