.THIS .nextbutton {
  margin-top: 8px;
   float: right;
}
.THIS .nextbutton1{
   float: right;
   margin-top: 50px;
}

/*.THIS .slds-button_brand{
    background-color: rgba(30, 75, 178, 1);
    border-color: rgba(30, 75, 178, 1);
}*/

.THIS .linebreak .slds-radio { border-bottom:1px solid #c3c3c3;padding: 7px 15px;}
.THIS .linebreakfirst .slds-radio {padding: 4px 0px;}
.THIS .linebreakMemberType .slds-radio { border-bottom:1px solid #c3c3c3;padding: 7px 15px;}
/*.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}*/

.THIS .lodingImage{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .ButtonBckColor{
    background-color: steelblue !important;
    border-color: steelblue !important;
}