.THIS .customRequired{
    font-weight: 400; 
}
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
} 
.THIS .none{
    display:none; 
}
.THIS .hide-error-message > .slds-form-element > .slds-form-element__help {
    display: none;
}
.THIS .slds-form-element__control{
    padding-left:	0%!important;
}
.THIS .slds-form-element__label{
    min-width:100%!important; 
    float:unset!important;
}