.THIS .btnSize{
    width: 100%;
}
.THIS .slds-nowrap{
    /*flex-direction: column-reverse!important;*/
}
.THIS .slds-modal__footer .slds-grid{
    text-align: left;
}
.THIS .card-msg-box{border: none!important;
    box-shadow: none!important;
    border-bottom: solid 2px #ddd!important;
    border-radius: 0!important;}
.THIS .slds-text-heading_small{
    font-size:12px;
}
.THIS .card-msg-box1{
    border: none!important;
    box-shadow: none!important;
    border-bottom: solid 2px #ddd!important;
    border-radius: 0!important;
}
.THIS .card-msg-box2{
    border: none!important;
    box-shadow: none!important;
    border-bottom: solid 2px #ddd!important;
    border-radius: 0!important;
    background-color: #f9f9fa;
}
.THIS .slds-file{
    width: 200px;
    height: 120px;
    margin-left: 49px;
    position: sticky;
}
.THIS .slds-card{
    margin-top:0px!important;
    position: sticky;
}

.THIS .inputStyle{
    width: 30%;
}

.THIS .flex-container {
  display: flex;
  align-items: baseline;
}

.THIS .flex-container > div {
    min-width:32px;
}
.THIS .flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.THIS .flex-container1 > div {
    min-width:32px;
}