.THIS .slds-combobox__input-entity-icon,.THIS span.slds-icon_container.slds-icon-utility-down.slds-input__icon.slds-input__icon_right {
    padding-top: 10px;
}
.THIS .slds-input-has-icon_right .slds-input {
    padding-left: 30px;
}