/* Hide the wrap text, clip text from datatable column header */
.THIS .slds-button_icon-bare{
	display: none;
}
/*
.THIS .slds-cell-fixed{
    display: none;
}
*/
.THIS .hidden-table:hover {
     background-color: white !important;
 }
.THIS .slds-table th{border:none!important;}

.THIS .slds-table tbody tr:focus>th{border:none!important;     background-color: #fff!important;}
.THIS .slds-table tbody tr:focus>th{border:none!important;     background-color: #fff!important;}
.THIS .slds-has-focus{ background-color: #fff!important;}