.THIS .ButtonColor{
   color: blue;
}
.THIS .slds-text-title--capsPoint {background-color: lightgray;}
.THIS .slds-table_bordered td {
    border-collapse: separate;
    border-top: 1px solid #dddbda !important;
   
}
.THIS.slds-table_bordered tbody td{
    border-top: 1px solid #dddbda !important;
}

.THIS .PendingButton{
    background-color: gray !important;
    border: gray !important;
    color: white !important;
    cursor: no-drop !important;
    padding: 1.5px 23px;
}
.THIS .Rejectedbutton{
    background-color: gray !important;
    border: gray !important;
    color: white !important;
    cursor: no-drop !important;
    padding: 1.5px 21px;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .modalStyle{
    padding: 5rem 3rem;
    font-size: 14px;
}

.THIS .joinButton{
    padding: 1px 23px;
}
.THIS .requestButton{
    padding: 1.5px 21px;
}